/* *** commons *** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* *** main *** */
.container {
    width: 80%;
    margin: 50px auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.box {
    width: calc(100% / 3);
    line-height: 50px;
    position: relative;
}


.left {
    float: left;
}

.box .style-1 {
    width: 100%;
    object-fit: cover;
}

.style-2 {
    display: none;
    width: 100%;
    object-fit: cover;
}

.box:hover .style-1 {
    display: none;
}

.box:hover .style-2 {
    display: inline-block;
}

.heart {
    height: 50px;
    width: 50px;
    font-size: 30px;
    vertical-align: middle;
    text-align: center;
    background-color: white;
    position: absolute;
    top: 20px;
    right: 0;
}

.box .sconto, .box .sostenibilita {
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    bottom: 50px;
    text-align: center;
    vertical-align: middle;
}

.box .sconto {
    width: 60px;
    background-color: red;   
}

.box .sostenibilita {
    text-transform: capitalize;
    width: 110px;
    background-color: #00875a;
    left: 65px;
}

/* *** debug *** */

.debug.container {
    background-color: rgb(248, 247, 237);
    height: 2000px;
}

/* .debug .box {
    border: 1px solid black;
    background-color: moccasin;
    height: 600px;
} */